- List
- Tuples
- Sets
- Dictionaries

### List

In [1]:
list()

[]

In [2]:
# create a list
li = []

In [3]:
type(li)

list

In [4]:
li = ['Ada', 1, "Michael", 3.142]
li

['Ada', 1, 'Michael', 3.142]

In [5]:
print(li)

['Ada', 1, 'Michael', 3.142]

In [6]:
names = list()

In [7]:
type(names)

list

### Python List Methods

In [8]:
names.append("John")
names.append("James")
names.append("Michael")
names.append("Glory")
names.append("Joshua")
print(names)

['John', 'James', 'Michael', 'Glory', 'Joshua']

In [9]:
names.insert(1, "Antony")
print(names)

['John', 'Antony', 'James', 'Michael', 'Glory', 'Joshua']

In [10]:
len(names)

6

In [11]:
s = "hello world"
s[2]

'l'

In [12]:
print("The third person in the list is {}".format(names[2].upper()))

The third person in the list is JAMES

In [13]:
names.append("Nwando")
print(names)

['John', 'Antony', 'James', 'Michael', 'Glory', 'Joshua', 'Nwando']

In [14]:
names.pop()

'Nwando'

In [15]:
print(names)

['John', 'Antony', 'James', 'Michael', 'Glory', 'Joshua']

In [16]:
s

'hello world'

Note: List are mutable

In [17]:
names[2] = 'Nwando'

In [18]:
#mutablility of the list
print(names)

['John', 'Antony', 'Nwando', 'Michael', 'Glory', 'Joshua']

In [19]:
names.clear()

In [20]:
print(names)

[]

In [21]:
names.count(0)

0

In [22]:
animals = ['Lion', 'Goat', 'Elephant', 'Monkey', 'Elephant']
print(animals)

['Lion', 'Goat', 'Elephant', 'Monkey', 'Elephant']

In [23]:
animals.count('Goat')

1

In [24]:
names = names.append('James')

In [25]:
print(names)

None

In [26]:
animals

['Lion', 'Goat', 'Elephant', 'Monkey', 'Elephant']

In [27]:
animals.count('Dora')

0

In [28]:
animals

['Lion', 'Goat', 'Elephant', 'Monkey', 'Elephant']

### Looping through a list

In [29]:
Countries = ['Nigeria', 'Ghana', 'England', 'Canada', 'France', 'Japan']
print(Countries)

['Nigeria', 'Ghana', 'England', 'Canada', 'France', 'Japan']

In [30]:
for country in Countries:
    print(country)

Nigeria
Ghana
England
Canada
France
Japan

In [31]:
items = ['Orange', 1, 'Pineaple', 3, 'Apple', 4, 'Amount', 3429.000]
for item in items:
    print(item)

Orange
1
Pineaple
3
Apple
4
Amount
3429.0

In [32]:
from time import time
li = ['Animals', 'people']
l2 = ['Places', 'Region']

l3 = li + l2
time = time()
print(l3)
print("time taken: ",time)

['Animals', 'people', 'Places', 'Region']
time taken:  1674850412.859211

In [33]:
l4 = ['Yes', 'No']
l5 = ['True', 'False']
l6 = l5.extend(l4)
print("the time taken: ", time)

the time taken:  1674850412.859211

In [34]:
unsortedList = [3, 78, 37, 1, 5, 9, 0]

In [35]:
unsortedList

[3, 78, 37, 1, 5, 9, 0]

In [36]:
unsortedList.sort(reverse=False)

In [37]:
items

['Orange', 1, 'Pineaple', 3, 'Apple', 4, 'Amount', 3429.0]

In [38]:
num = [3, 5, 1, 2]
num.sort()

In [39]:
print(num.sort())

None

### Tuples

In [40]:
type(tuple())

tuple

In [41]:
tup_1 = (1, 2, 3, 4)
tup_1

(1, 2, 3, 4)

In [42]:
num = 1, 2,3,4
num

(1, 2, 3, 4)

In [43]:
type(num)

tuple

In [44]:
tup_2 = ('Mike', 2, 'John', 3)
tup_2

('Mike', 2, 'John', 3)

Note: Tuples are not mutable

In [45]:
tup_1

(1, 2, 3, 4)

In [46]:
tup_1[2] = 6
print(tup_1)

TypeError: 'tuple' object does not support item assignment

In [47]:
tup_2

('Mike', 2, 'John', 3)

In [48]:
tup_1.count(3)

1

In [49]:
tup_1.index(2)

1

In [50]:
tup_3 = tup_1 + tup_2
tup_3

(1, 2, 3, 4, 'Mike', 2, 'John', 3)

### Looping through a tuple

In [51]:
names = ("Jane", "jackson", 'Eugene', 'Kingsley')
for name in names:
    print(name)

Jane
jackson
Eugene
Kingsley

In [52]:
[], (), {}

([], (), {})

### Sets

In [53]:
A = set()
type(A)

set

In [54]:
A = {'Jane', 1, 'Mike', 'Akoh','Akoh', 'Akoh', 4, 4, 5}
print(A)

{'Mike', 1, 4, 'Jane', 'Akoh', 5}

Note: Set does not accepts duplicate values.

In [55]:
A.add('Johnson')
print(A)

{'Mike', 1, 4, 'Jane', 'Akoh', 5, 'Johnson'}

In [56]:
B = A.copy()

In [57]:
print(B)

{'Mike', 1, 4, 'Jane', 'Akoh', 5, 'Johnson'}

In [58]:
A == B

True

In [59]:
A.difference(B)

set()

In [60]:
C = {1, 3, 5, "Mike"}
A.difference(C)

{4, 'Akoh', 'Jane', 'Johnson'}

In [61]:
C.add('Daniel')

In [62]:
C

{1, 3, 5, 'Daniel', 'Mike'}

In [63]:
A.difference_update(C)

In [64]:
#what is common between set A and set B
A.intersection(B)

{4, 'Akoh', 'Jane', 'Johnson'}

In [65]:
#combines set A and set C
A.union(C)

{1, 3, 4, 5, 'Akoh', 'Daniel', 'Jane', 'Johnson', 'Mike'}

In [66]:
print(A)

{4, 'Jane', 'Akoh', 'Johnson'}

**Note: FIRST-IN-FIRST-OUT**

In [67]:
A.pop()

4

In [68]:
print(A)

{'Jane', 'Akoh', 'Johnson'}

In [69]:
A.pop()

'Jane'

In [70]:
print(A)

{'Akoh', 'Johnson'}

In [71]:
B

{1, 4, 5, 'Akoh', 'Jane', 'Johnson', 'Mike'}

In [72]:
A

{'Akoh', 'Johnson'}

### Looping through the set items

In [73]:
for a in A:
    print(a)

Akoh
Johnson

### Dictionary

In [74]:
n = dict()
type(n)

dict

Key:value pairs

### How to create a Python dictionary

In [75]:
products = {}

products['Product_A'] = 2300
products['Product_B'] = 4500
products['Product_C'] = 16500
print(products)

{'Product_A': 2300, 'Product_B': 4500, 'Product_C': 16500}

In [76]:
items = {'Item_A': 4300,
        "Item_B": 7800,
        "Item_C": 8900}
print(items)

{'Item_A': 4300, 'Item_B': 7800, 'Item_C': 8900}

In [77]:
fruits_basket = dict()

fruits_basket['Orange'] = 10
fruits_basket['Mango'] = 20
fruits_basket['Apple'] = 15
fruits_basket['Banana'] = 45
print(fruits_basket)

{'Orange': 10, 'Mango': 20, 'Apple': 15, 'Banana': 45}

In [78]:
# to get all key values in a dictionary
fruits_basket.keys()

dict_keys(['Orange', 'Mango', 'Apple', 'Banana'])

In [79]:
fruits_basket.get('Orange')

10

In [80]:
fruits_basket.items()

dict_items([('Orange', 10), ('Mango', 20), ('Apple', 15), ('Banana', 45)])

Note: Dictionary are mutables

In [81]:
fruits_basket['Orange'] = 30
print(fruits_basket)

{'Orange': 30, 'Mango': 20, 'Apple': 15, 'Banana': 45}

### Looping through a dictionary

In [82]:
fruits_basket

{'Orange': 30, 'Mango': 20, 'Apple': 15, 'Banana': 45}

In [83]:
print(fruits_basket)

{'Orange': 30, 'Mango': 20, 'Apple': 15, 'Banana': 45}

In [84]:
for fruit_basket in fruits_basket.items():
    print(fruit_basket)

('Orange', 30)
('Mango', 20)
('Apple', 15)
('Banana', 45)

### Assignment

- Create a List of items, and apply the list methods to the created list.
- Create a dictionary of student_name and scores.
1. Get the key elements in the dictionary
2. Get the values in dictionary
3. Assuming you made a mistake in one of the students scores, try changing the student scores to the updated score.
4. Add a new student name and score to the already existing dictionary of students
5. Loop through a list of items, dictionary, set, and tuples.